# .mailmap file template
Andrew Eells <andrew.eells@slalom.com> Dave Nicoll <690117+davenicoll@users.noreply.github.com>
Dave Nicoll <dave.nicoll@slalom.com> Dave Nicoll <690117+davenicoll@users.noreply.github.com>
Girish Maddineni <girish.maddineni@slalom.com> Girish Maddineni <113059376+Girish-Maddineni@users.noreply.github.com>
John Phillips <john.phillips87@googlemail.com> Dave Nicoll <690117+davenicoll@users.noreply.github.com>
Mariano Quidiello <mariano.quidiello@slalom.com> Dave Nicoll <690117+davenicoll@users.noreply.github.com>
Nava Atluri <nava.atluri@slalom.com> Pepe Amengual <pepe.amengual@slalom.com>
Nicolas Houillon <nicolas.houillon@slalom.com> Girish Maddineni <113059376+Girish-Maddineni@users.noreply.github.com>
PePe Amengual <jose.amengual@gmail.com> Pepe Amengual <pepe.amengual@slalom.com>
Vicky Anastassiou <vicky.anastassiou@slalom.com> Dave Nicoll <690117+davenicoll@users.noreply.github.com>
Girish.maddineni <girish.maddineni@slalom.com> Girish Maddineni <113059376+Girish-Maddineni@users.noreply.github.com>
john phillips <v-john.phillips@pnmac.com> Dave Nicoll <690117+davenicoll@users.noreply.github.com>

